#statistics-section {
  background-color: #ffffff;
  box-shadow: 4px 4px 8px grey;
  width: 1140px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 8%;
  margin-top: 60px;
  margin-bottom: 80px;
}

#statistics-section .statistics {
  width: 55px;
  height: 55px;
}

#statistics-section .statistics img {
  width: 100%;
  height: 100%;
}

.statistic-item {
  display: flex;
  justify-content: space-around;
  gap: 22px;
}

.statistic-info {
  width: 54px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.statistic-info b {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.statistic-info p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

@media only screen and (max-width: 765px) {
  #statistics-section {
    background-color: #ffffff;
    box-shadow: 4px 4px 8px grey;
    width: 95%;
    height: auto;
    padding: 50px;
    margin-top: 60px;
    margin-bottom: 80px;
    display: inline-block;
  }
}
